body{
  background-color: #302209;
}

.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.selected {
  background-color: rgb(18, 192, 67);
}

.score-container{
  border-radius: 10px;
  display: none;
  background-color: #F8F8B8;
  height: 100px;
  width: 100%;
  padding-top: 10px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.reset{
  margin-top: 10px;
  margin-right: 10px;
}

.hardReset{
  position: relative;
  left: 93%;
}

button {
  font-size: 12px;
  box-shadow: 2px 2px 2px black;
  margin-bottom: 5px;
  border-radius: 4px;
  height: 2.5em;
}

.bet, .chipsLeft{
  font-size: 18px;
}

.betno, .chipValue {
  font-weight: bold;
}


.appView {
  padding: 10px;
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
  background-color: rgb(5, 139, 22);
}

.player-hand-container, .dealer-hand-container {
  padding: 10px;
}

.betCounter {
  float: right;
  position: relative;
}