body{
  background-color: #302209;
}

.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.selected {
  background-color: rgb(18, 192, 67);
}

.score-container{
  border-radius: 10px;
  display: none;
  background-color: #F8F8B8;
  height: 100px;
  width: 100%;
  padding-top: 10px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.reset{
  margin: 10px auto;
  display: block;
  }

button {
  margin-bottom: 5px;
  border-radius: 4px;
  height: 2.5em;
}

.appView {
  padding: 10px;
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
  background-color: rgb(5, 139, 22);
}

.player-hand-container, .dealer-hand-container {
  padding: 10px;
}