.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.selected {
  background-color: blue;
}

.score-container{
  height: 100px;
  width: 400px;
  border: 2px solid red;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.reset{
  margin: 0 auto;
  display: block;
  height: 2.5em;
  }

.appView {
  border: 2px solid blue;
  width: 50%;
  margin: 0 auto;
}